In [2]:
!unzip "data/Dartmouth Thayer_Data Science_Module 2_Live Coding Assignment.zip"

'unzip' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.2.3-cp39-cp39-win_amd64.whl (9.3 MB)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.1-cp39-cp39-win_amd64.whl (13.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.1 pandas-1.2.3

In [5]:
import pandas as pd

In [6]:
pd.read_csv('data/foo.csv')

,id,firstName,lastName,billingId,product,price,birth,dummyCol
0,1,Luis,Alvarez$$%!,123,Cake,10,07-07-1980,never
1,2,André,Ampère,423,piza,8,08-07-1950,gonna
2,3,NiELS,Böhr//((%%,551,pizza,8,09-07-1990,give
3,4,PAUL,dirac$,521,pizza,8,10-07-1954,you
4,5,Albert,Einstein,634,pizza,8,11-07-1990,up
5,6,Galileo,GALiLEI,672,arepa,5,12-08-1930,never
6,7,CaRL,Ga%%%uss,323,taco,3,13-07-1970,gonna
7,8,David,H$$$ilbert,624,taaaccoo,3,14-07-1950,let
8,9,Johannes,KEPLER,735,taco,3,22-04-1920,you
9,10,JaMES,M$$ax%%well,875,taco,3,12-03-1923,down
10,11,Isaac,Newton,992,pasta,9,15-02-1999,never
11,12,Emmy%%,Nöether$,234,pasta,9,08-12-1993,gonna
12,13,Max!!!,Planck!!!,111,hamburguer,4,04-01-1994,run
13,14,Fred,Hoy&&&le,553,pizzza,8,27-06-1997,around
14,15,((( Heinrich ))))),Hertz,116,pizza,8,30-11-1956,and
15,16,William,Gilbert###,886,BEER,2,26-03-1958,desert
16,17,Marie,CURIE,912,Rice,1,22-03-2000,you
17,18,Arthur,COM%%%pton,812,110790,5,1899/01/01,#
18,19,JAMES,Chadwick,467,NaN,10,03-05-1921,#

In [7]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Collecting scipy>=1.0
  Downloading scipy-1.6.1-cp39-cp39-win_amd64.whl (32.7 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from seaborn) (1.20.1)
Requirement already satisfied: pandas>=0.23 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from seaborn) (1.2.3)
Collecting matplotlib>=2.2
  Downloading matplotlib-3.3.4-cp39-cp39-win_amd64.whl (8.5 MB)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Collecting pillow>=6.2.0
  Downloading Pillow-8.1.2-cp39-cp39-win_amd64.whl (2.2 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp39-cp39-win_amd64.whl (51 kB)
Requirement already satisfied: six in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\jessi\anaconda3\envs\jessidata\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Installing collected packages: pillow, kiwisolver, cycler, scipy, matplotlib, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.4 pillow-8.1.2 scipy-1.6.1 seaborn-0.11.1

In [8]:
import seaborn as sns

In [9]:
import matplotlib.pyplot as plt